[Unit]
Description=noname telegram bot

[Service]
Type=simple
ExecStart=/bin/bash /home/sascha/noname_pi_bot/start.sh
Restart=always

[Install]
WantedBy=multi-user.target
