[Unit]
Description=noname webserver

[Service]
Type=simple
ExecStart=/bin/bash /home/sascha/noname/start.sh
Restart=always

[Install]
WantedBy=multi-user.target
